# Секреты и конфигурация (КРИТИЧЕСКИ ВАЖНО, чтобы не утек токен бота)
.env

# Локальные базы данных (содержимое папки data)
data/
*.json

# Логи работы бота
logs/
*.log

# Кэш Python (автоматически создается при импортах модулей из папки src)
__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки сред разработки (если используешь VS Code или PyCharm)
.vscode/
.idea/

# Виртуальное окружение (если оно используется)
.venv/